@import url(http://fonts.googleapis.com/css?family=Quicksand);

@font-face { font-family: "Prociono"; src: url('../fonts/Prociono.otf'); }
@font-face { font-family: "Junction"; src: url('../fonts/Junction.otf'); }
@font-face { font-family: "Sorts Mill Goudy"; src: url('../fonts/OFLGoudyStM.otf'); }
@font-face { font-family: "Goudy Bookletter 1911"; src: url('../fonts/GoudyBookletter1911.otf'); }
